# ==== Python ====
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pkl
*.log

# ==== Virtual env ====
venv/
.venv/
ENV/
env/
pip-wheel-metadata/

# ==== Jupyter ====
.ipynb_checkpoints/

# ==== OS files ====
.DS_Store
Thumbs.db

# ==== Streamlit ====
.streamlit/secrets.toml
.streamlit/cache/
.streamlit/*.toml

# ==== Environment variables ====
.env
.env.*
!.env.example

# ==== Build / distribution ====
build/
dist/
*.egg-info/
.eggs/

# ==== Testing ====
.pytest_cache/
.coverage
htmlcov/

# ==== IDEs ====
.vscode/
.idea/

secrets/
